<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{% liquid
  assign header_tag = 'div'

  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
%}

<{{ header_tag }}
  {% if header_tag == 'sticky-header' %}
    data-sticky-type="{{ section.settings.sticky_header_type }}"
  {% endif %}
  class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}"
>
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo motion-reduce',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          </div>
        {%- else -%}
          {% comment %} <span class="h2">{{ shop.name }}</span> {% endcomment %}
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100%" height="90px" viewBox="0 0 4000.000000 4000.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,4000.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M19040 33795 c-14 -8 -37 -14 -53 -15 -15 0 -53 -9 -84 -20 -32 -11
            -76 -20 -99 -20 -23 0 -61 -7 -84 -15 -23 -8 -55 -15 -69 -15 -15 0 -36 -7
            -47 -15 -10 -8 -26 -15 -36 -15 -46 -1 -187 -88 -238 -147 -33 -38 -70 -90
            -70 -99 0 -3 -9 -17 -20 -31 -11 -14 -20 -34 -20 -43 0 -10 -7 -23 -15 -30 -8
            -7 -15 -22 -15 -34 0 -11 -7 -34 -15 -50 -8 -15 -15 -33 -15 -40 0 -11 -32
            -123 -52 -181 -5 -16 -14 -48 -18 -70 -11 -61 -30 -135 -47 -190 -9 -27 -19
            -77 -23 -110 -4 -33 -12 -73 -18 -90 -11 -32 -24 -81 -47 -180 -35 -148 -43
            -182 -54 -208 -6 -16 -11 -38 -11 -50 0 -12 -7 -35 -15 -51 -8 -15 -15 -36
            -15 -45 0 -9 -9 -43 -20 -76 -10 -33 -26 -87 -35 -120 -9 -33 -21 -73 -27 -90
            -5 -16 -16 -59 -23 -95 -22 -106 -43 -191 -54 -219 -5 -14 -12 -50 -15 -79 -3
            -29 -10 -68 -15 -85 -5 -18 -19 -70 -31 -117 -26 -101 -22 -90 -66 -165 -19
            -33 -40 -72 -45 -87 -6 -16 -15 -28 -19 -28 -4 0 -13 -12 -19 -27 -6 -16 -22
            -46 -36 -68 -14 -22 -28 -47 -32 -55 -4 -8 -18 -33 -32 -55 -13 -22 -82 -152
            -151 -290 -70 -137 -132 -259 -137 -270 -51 -93 -130 -288 -151 -370 -13 -51
            -31 -103 -48 -137 -8 -14 -14 -34 -14 -45 0 -10 -7 -31 -15 -47 -8 -15 -15
            -35 -15 -43 0 -8 -6 -29 -14 -46 -14 -32 -39 -104 -56 -162 -17 -58 -42 -130
            -56 -162 -8 -17 -14 -40 -14 -51 0 -11 -7 -33 -15 -48 -8 -16 -15 -36 -15 -44
            0 -25 -36 -121 -64 -170 -14 -25 -30 -55 -35 -67 -13 -29 -84 -132 -149 -218
            -87 -114 -294 -320 -457 -455 -49 -41 -92 -77 -95 -80 -8 -8 -173 -123 -209
            -145 -17 -11 -70 -46 -86 -57 -32 -22 -105 -92 -105 -101 0 -5 -8 -15 -17 -22
            -11 -9 -17 -28 -17 -61 l-1 -49 42 -3 c26 -2 58 4 87 17 25 12 51 21 58 21 7
            0 22 7 32 15 11 8 29 15 41 15 12 0 25 4 31 10 18 18 159 86 216 104 31 9 74
            16 95 14 38 -3 38 -3 35 -43 -2 -22 -9 -49 -16 -60 -18 -29 -46 -119 -46 -150
            0 -33 42 -56 68 -37 9 7 31 19 47 28 17 8 44 23 60 34 17 11 39 24 50 29 47
            21 152 140 188 213 20 40 37 80 37 89 0 8 7 24 15 35 8 10 15 27 15 37 0 10
            26 70 58 133 79 159 84 168 93 174 4 3 13 17 19 30 11 25 22 45 51 90 9 14 38
            59 64 100 46 73 105 162 176 265 50 75 58 87 70 115 5 13 14 27 18 30 8 5 52
            82 98 170 15 30 34 61 40 68 7 7 13 20 13 27 0 7 6 20 13 27 6 7 21 31 32 52
            11 22 25 44 30 50 6 6 22 29 35 51 13 22 30 47 37 55 50 55 213 305 213 326 0
            5 29 69 85 189 21 45 125 258 144 295 4 8 14 29 22 45 8 17 24 48 36 70 57
            110 112 238 137 320 10 33 22 74 28 90 5 17 14 48 18 70 5 22 16 54 24 70 9
            17 16 35 16 42 0 6 6 24 14 40 18 37 40 87 66 148 11 28 25 57 30 65 6 8 13
            22 16 30 4 8 20 44 36 79 59 131 82 195 127 356 19 67 28 95 52 168 6 17 15
            47 19 66 5 19 15 48 23 65 8 17 23 49 32 71 10 22 22 47 27 55 9 16 23 48 43
            95 7 17 22 50 33 75 11 25 30 74 42 110 12 36 25 70 29 75 4 6 15 37 24 70 10
            33 25 81 33 107 73 234 86 340 91 777 3 242 8 369 14 358 6 -9 10 -159 11
            -339 1 -324 -10 -514 -37 -633 -8 -33 -19 -82 -25 -110 -33 -146 -40 -169 -49
            -178 -6 -6 -11 -21 -11 -33 0 -12 -7 -27 -15 -34 -8 -7 -15 -22 -15 -34 -1
            -11 -9 -39 -20 -61 -11 -22 -19 -47 -20 -56 0 -9 -7 -22 -15 -29 -8 -7 -15
            -22 -15 -34 0 -12 -7 -31 -15 -42 -8 -10 -15 -29 -15 -40 0 -12 -6 -27 -14
            -33 -29 -24 -28 -90 4 -211 12 -45 43 -122 61 -150 5 -8 12 -22 15 -30 3 -8
            10 -22 15 -30 5 -8 12 -22 15 -30 3 -8 18 -40 34 -70 16 -30 59 -115 96 -188
            l68 -134 7 -136 c4 -75 12 -150 18 -165 6 -16 11 -48 11 -71 0 -24 9 -72 20
            -106 11 -34 20 -82 20 -106 0 -23 5 -55 11 -71 6 -15 15 -70 20 -122 5 -51 17
            -128 28 -170 11 -42 22 -114 25 -160 5 -77 8 -87 33 -108 16 -12 42 -22 60
            -23 18 0 55 -5 84 -11 38 -8 61 -8 88 0 41 13 101 63 101 85 0 16 26 46 40 46
            5 0 10 -33 13 -72 4 -74 19 -139 42 -193 7 -16 16 -42 19 -58 4 -15 15 -36 25
            -46 23 -23 119 -46 154 -38 73 19 174 123 196 203 21 77 -44 179 -156 247 -18
            10 -33 23 -33 28 0 5 42 8 93 7 50 0 101 2 112 5 21 7 35 30 79 130 14 32 30
            56 34 53 5 -3 12 -28 15 -55 9 -72 31 -119 64 -132 15 -6 67 -9 116 -7 48 2
            87 0 87 -4 0 -6 -87 -69 -130 -93 -48 -28 -90 -94 -90 -142 0 -73 105 -200
            189 -228 64 -21 130 -14 168 19 22 20 27 34 36 117 6 52 11 131 11 177 0 45 3
            82 6 82 4 0 30 -24 58 -54 89 -94 132 -114 177 -82 11 7 36 17 55 21 19 4 40
            11 46 16 5 4 23 7 39 6 26 -2 29 1 31 34 2 20 9 53 18 72 14 35 25 127 46 397
            10 126 19 176 55 305 18 68 35 184 49 337 6 74 16 132 24 140 6 6 12 22 12 34
            0 13 4 25 9 29 5 3 24 33 41 68 47 93 76 143 99 173 12 15 21 31 21 36 0 5 15
            29 34 54 30 39 58 90 115 213 19 41 21 175 3 193 -7 7 -12 19 -12 28 0 8 -7
            29 -16 45 -9 17 -20 44 -24 60 -9 34 -25 80 -50 145 -32 83 -42 115 -47 145
            -3 17 -10 36 -16 43 -9 12 -18 44 -53 187 -44 185 -63 389 -68 723 -5 326 -2
            312 -75 350 -20 10 -66 22 -102 26 -75 7 -83 2 -92 -54 -7 -48 -25 -117 -36
            -138 -5 -9 -20 -39 -32 -67 -52 -116 -101 -186 -167 -236 -36 -27 -71 -49 -77
            -49 -7 0 -18 -7 -25 -15 -7 -8 -23 -15 -35 -15 -12 0 -28 -7 -35 -15 -7 -8
            -19 -15 -27 -15 -8 0 -33 -10 -56 -22 -84 -43 -95 -48 -116 -48 -12 0 -34 -8
            -48 -17 -23 -15 -50 -18 -183 -17 -111 1 -169 6 -205 18 -27 9 -59 16 -70 16
            -34 0 -127 43 -205 95 -85 56 -223 185 -266 247 -16 23 -41 55 -56 72 -16 17
            -28 35 -28 40 0 5 -6 17 -14 25 -16 18 -56 126 -56 152 0 24 -38 69 -58 69 -9
            -1 -28 -7 -42 -15z m1691 -1068 c-6 -6 -11 -21 -11 -33 0 -12 -9 -33 -20 -47
            -11 -14 -20 -29 -20 -33 0 -16 -42 -94 -51 -94 -5 0 -9 -6 -9 -14 0 -12 -25
            -54 -82 -140 -34 -50 -102 -134 -155 -189 -32 -34 -74 -82 -93 -107 -40 -52
            -58 -70 -125 -125 -26 -21 -64 -54 -84 -72 -49 -45 -79 -43 -144 8 -29 23 -53
            45 -55 50 -2 5 -9 9 -17 9 -16 0 -122 112 -200 211 -32 41 -66 81 -74 90 -48
            48 -111 127 -161 199 -8 12 -30 38 -47 58 -18 20 -33 42 -33 48 0 6 -9 19 -20
            29 -11 10 -20 24 -20 32 0 7 -4 13 -10 13 -5 0 -10 6 -10 14 0 7 -10 25 -21
            40 -34 44 -11 45 27 1 48 -55 54 -63 54 -73 0 -5 20 -32 45 -58 25 -27 57 -67
            73 -89 15 -21 34 -46 42 -55 8 -9 35 -40 60 -70 131 -156 370 -397 409 -412
            39 -14 90 0 130 35 175 156 401 401 401 435 0 5 9 17 20 27 11 10 20 24 20 31
            0 7 6 17 13 21 7 4 18 19 25 33 6 14 27 52 47 85 39 68 38 64 56 123 13 46 41
            73 47 45 2 -8 -1 -20 -7 -26z"/>
            <path d="M21171 33682 c-7 -13 -7 -99 0 -253 16 -375 34 -544 76 -694 14 -49
            30 -108 35 -130 6 -22 17 -52 24 -67 8 -14 14 -34 14 -45 0 -10 6 -30 14 -45
            8 -15 17 -42 21 -60 4 -18 14 -42 21 -53 8 -11 14 -31 14 -45 0 -15 7 -35 15
            -46 8 -10 15 -28 15 -39 0 -18 19 -72 55 -160 19 -46 36 -96 46 -138 5 -21 14
            -45 19 -55 14 -24 40 -100 49 -142 4 -19 13 -45 19 -57 7 -12 12 -30 12 -40 0
            -15 45 -169 82 -278 5 -16 14 -43 18 -60 14 -48 41 -124 71 -200 16 -38 31
            -83 35 -99 4 -16 13 -41 20 -55 8 -14 14 -33 14 -42 0 -8 5 -20 11 -26 6 -6
            15 -29 19 -50 5 -21 18 -63 30 -93 12 -30 28 -77 35 -105 17 -65 34 -113 51
            -148 8 -16 14 -35 14 -43 0 -14 35 -93 107 -244 20 -41 40 -84 44 -95 11 -29
            64 -145 116 -255 25 -52 54 -115 66 -140 11 -25 23 -47 26 -50 3 -3 17 -25 30
            -50 13 -25 53 -82 88 -128 34 -45 63 -84 63 -87 0 -2 23 -35 50 -73 28 -38 50
            -74 50 -79 0 -6 4 -13 9 -15 4 -1 30 -43 56 -93 27 -49 57 -103 67 -120 10
            -16 23 -42 29 -57 6 -16 15 -28 19 -28 4 0 13 -12 19 -27 13 -33 62 -119 106
            -188 18 -27 53 -82 79 -122 25 -40 46 -74 46 -77 0 -2 23 -38 50 -79 28 -41
            50 -79 50 -84 0 -6 9 -18 20 -28 11 -10 20 -22 20 -27 0 -5 11 -26 25 -48 14
            -22 39 -66 56 -98 16 -31 34 -64 39 -72 65 -109 99 -171 105 -191 4 -13 14
            -33 21 -44 8 -11 14 -27 14 -37 0 -59 143 -221 235 -268 28 -14 57 -30 65 -36
            30 -22 104 -36 132 -25 45 17 46 52 5 134 -19 40 -38 87 -42 105 l-7 32 44 0
            c63 0 152 -31 241 -84 43 -25 82 -46 87 -46 5 0 13 -6 17 -12 12 -19 92 -56
            138 -64 115 -20 168 35 113 118 -31 46 -273 237 -386 303 -9 6 -36 25 -59 43
            -23 17 -46 32 -52 32 -5 0 -14 6 -18 13 -4 8 -35 33 -68 57 -82 60 -272 246
            -361 355 -41 50 -80 97 -87 105 -37 43 -77 99 -77 107 0 5 -5 14 -11 20 -16
            16 -89 181 -89 202 0 9 -7 25 -15 35 -8 11 -15 26 -15 34 0 8 -6 28 -14 45 -7
            18 -24 61 -36 97 -12 36 -26 74 -32 85 -6 11 -15 33 -19 50 -4 16 -20 62 -34
            100 -15 39 -30 84 -35 100 -5 17 -18 55 -30 85 -12 30 -28 73 -35 95 -8 22
            -23 65 -35 95 -12 30 -26 71 -32 90 -5 19 -14 40 -18 45 -4 6 -13 26 -18 45
            -19 63 -43 125 -53 135 -5 5 -9 15 -9 22 0 12 -62 154 -81 183 -5 8 -12 22
            -15 30 -15 39 -88 181 -95 186 -5 3 -9 13 -9 23 0 9 -5 22 -12 29 -12 12 -60
            94 -93 157 -8 17 -24 44 -35 60 -11 17 -23 37 -27 45 -4 8 -29 52 -55 98 -26
            46 -48 87 -48 92 0 5 -6 21 -14 37 -44 91 -86 215 -86 257 0 14 -7 43 -15 63
            -8 19 -15 46 -15 58 0 12 -9 51 -20 85 -11 34 -20 83 -20 108 0 25 -6 68 -14
            96 -17 60 -34 140 -45 216 -9 56 -33 157 -54 220 -6 19 -14 55 -18 80 -4 25
            -11 59 -17 75 -27 78 -52 173 -52 196 0 15 -7 46 -15 69 -8 23 -15 56 -15 73
            0 17 -7 53 -14 81 -8 28 -19 85 -25 126 -16 122 -82 360 -111 395 -4 5 -11 21
            -15 35 -21 73 -80 166 -137 221 -34 33 -66 59 -70 59 -8 0 -64 36 -78 50 -21
            21 -263 137 -331 159 -46 14 -47 14 -58 -7z"/>
            <path d="M20860 29900 c0 -5 -15 -24 -32 -41 -80 -75 -88 -128 -33 -205 19
            -27 35 -55 35 -61 0 -17 -55 -17 -88 1 -15 7 -53 22 -85 32 -47 14 -62 15 -75
            6 -10 -7 -27 -16 -39 -22 -12 -5 -30 -22 -40 -37 -10 -15 -23 -34 -30 -41 -23
            -24 -21 -171 3 -227 8 -19 14 -61 14 -94 0 -49 4 -65 26 -90 14 -17 34 -31 43
            -31 21 0 54 -33 44 -43 -3 -4 -75 -7 -159 -7 l-153 0 -17 31 c-17 33 -144 164
            -183 189 -13 8 -34 23 -46 33 -55 41 -128 6 -250 -119 -52 -53 -57 -60 -85
            -116 -22 -44 -26 -48 -61 -48 -21 0 -42 7 -50 16 -11 14 -31 16 -131 12 -65
            -2 -118 -3 -118 -1 0 1 19 15 43 30 23 15 50 36 60 47 32 38 57 107 57 160 1
            28 7 62 15 76 8 14 14 52 15 88 0 49 -5 70 -24 100 -43 68 -102 102 -177 102
            -50 0 -131 -28 -145 -51 -3 -5 -14 -9 -25 -9 -26 0 -25 31 5 108 23 59 24 65
            10 99 -31 72 -123 133 -158 104 -17 -14 -106 -192 -106 -210 0 -6 -4 -11 -9
            -11 -5 0 -15 -16 -21 -35 -6 -19 -16 -35 -21 -35 -5 0 -9 -8 -9 -18 0 -11 -9
            -29 -20 -42 -11 -13 -20 -31 -20 -40 0 -10 -7 -23 -15 -30 -8 -7 -15 -20 -15
            -29 0 -9 -7 -27 -16 -39 -13 -19 -13 -26 -2 -49 7 -15 22 -30 33 -33 24 -6
            115 -70 115 -81 0 -10 68 -49 87 -49 8 0 27 6 41 13 66 34 99 47 129 53 18 4
            38 13 44 20 13 16 49 19 49 4 0 -8 -54 -74 -90 -110 -61 -61 -59 -80 11 -150
            46 -46 59 -64 49 -70 -13 -8 -78 13 -141 46 -34 17 -46 14 -136 -27 -34 -16
            -69 -29 -77 -29 -7 0 -16 -7 -20 -15 -3 -8 -16 -15 -30 -15 -14 0 -28 -4 -31
            -10 -3 -5 -10 -10 -16 -10 -17 0 -8 25 21 60 17 19 30 39 30 46 0 6 9 19 20
            29 11 10 20 24 20 32 0 7 4 13 10 13 5 0 15 18 21 39 16 54 0 89 -70 157 -40
            38 -64 54 -83 54 -18 0 -28 -5 -28 -15 0 -8 -9 -23 -20 -32 -11 -10 -20 -21
            -20 -26 0 -12 -86 -122 -150 -192 -103 -113 -170 -191 -210 -245 -22 -30 -46
            -62 -53 -70 -7 -8 -25 -40 -41 -70 -15 -30 -43 -82 -61 -115 -18 -33 -47 -87
            -65 -120 -17 -33 -49 -91 -71 -130 -21 -38 -41 -77 -45 -85 -17 -44 -88 -181
            -95 -186 -5 -3 -9 -14 -9 -24 0 -10 -6 -25 -13 -32 -7 -7 -41 -69 -75 -138
            -34 -69 -78 -152 -97 -185 -19 -33 -39 -69 -44 -80 -5 -11 -23 -45 -41 -75
            -59 -99 -156 -266 -164 -281 -3 -8 -17 -32 -31 -54 -13 -22 -29 -51 -35 -65
            -6 -13 -14 -27 -18 -30 -4 -3 -13 -16 -20 -30 -6 -14 -27 -52 -47 -85 -19 -33
            -41 -73 -50 -90 -8 -16 -29 -52 -45 -80 -17 -27 -38 -63 -46 -80 -8 -16 -25
            -47 -37 -67 -12 -20 -47 -78 -78 -130 -31 -51 -73 -124 -94 -163 -21 -38 -44
            -77 -51 -86 -8 -8 -14 -21 -14 -27 0 -6 -6 -17 -12 -24 -7 -8 -21 -29 -32 -48
            -10 -19 -28 -53 -40 -75 -12 -22 -34 -58 -48 -80 -14 -23 -38 -63 -53 -90 -14
            -28 -34 -62 -43 -77 -9 -15 -39 -64 -66 -110 -28 -46 -53 -85 -56 -88 -3 -3
            -16 -25 -29 -50 -13 -25 -37 -65 -53 -89 -17 -25 -34 -54 -39 -65 -5 -12 -15
            -30 -21 -41 -61 -97 -81 -129 -114 -190 -20 -38 -40 -72 -43 -75 -4 -3 -12
            -16 -19 -30 -7 -14 -21 -38 -32 -55 -28 -44 -47 -77 -62 -105 -6 -14 -25 -41
            -40 -61 -15 -20 -28 -41 -28 -46 0 -6 -9 -18 -20 -28 -11 -10 -20 -22 -20 -27
            0 -8 -37 -65 -50 -78 -3 -3 -17 -26 -30 -52 -14 -27 -28 -48 -32 -48 -3 0 -11
            -12 -17 -27 -11 -29 -15 -36 -63 -110 -16 -23 -32 -52 -38 -65 -6 -13 -28 -50
            -50 -83 -22 -33 -45 -72 -51 -87 -6 -16 -15 -28 -20 -28 -5 0 -9 -7 -9 -14 0
            -14 -29 -63 -81 -138 -11 -15 -19 -30 -19 -33 0 -4 -13 -26 -30 -50 -16 -24
            -35 -54 -40 -67 -6 -13 -21 -41 -35 -63 -13 -22 -29 -51 -35 -65 -6 -14 -22
            -39 -36 -57 -13 -17 -24 -35 -24 -38 0 -4 -23 -46 -51 -94 -90 -154 -113 -192
            -167 -276 -25 -38 -62 -97 -83 -130 -21 -33 -43 -67 -49 -75 -12 -16 -29 -47
            -54 -95 -9 -16 -27 -43 -41 -59 -14 -16 -25 -33 -25 -39 0 -5 -13 -26 -28 -46
            -16 -20 -46 -67 -67 -106 -21 -38 -46 -81 -56 -95 -15 -22 -51 -78 -84 -132
            -53 -86 -82 -134 -95 -153 -24 -37 -84 -136 -99 -164 -8 -14 -27 -44 -43 -65
            -15 -21 -28 -45 -28 -52 0 -7 -6 -17 -12 -21 -7 -4 -24 -28 -37 -53 -14 -25
            -28 -47 -31 -50 -4 -3 -13 -17 -21 -32 -15 -28 -72 -121 -101 -167 -10 -14
            -21 -33 -25 -41 -4 -8 -22 -36 -40 -62 -18 -26 -33 -52 -33 -56 0 -5 -12 -27
            -28 -48 -15 -21 -33 -50 -40 -64 -7 -14 -30 -52 -52 -85 -22 -33 -44 -69 -49
            -80 -5 -11 -21 -37 -35 -58 -14 -21 -26 -40 -26 -43 0 -3 -8 -17 -19 -32 -10
            -15 -43 -65 -74 -112 -31 -47 -83 -124 -117 -172 -33 -48 -60 -92 -60 -98 0
            -5 -4 -10 -8 -10 -5 0 -28 -30 -52 -67 -25 -38 -50 -72 -57 -76 -7 -4 -13 -14
            -13 -21 0 -7 -16 -34 -35 -59 -19 -25 -35 -49 -35 -52 0 -3 -9 -18 -19 -33
            -10 -15 -45 -67 -77 -116 -33 -49 -66 -99 -74 -112 -8 -12 -30 -46 -48 -75
            -18 -30 -55 -88 -82 -129 -27 -41 -54 -84 -59 -95 -5 -12 -16 -27 -25 -34 -30
            -25 -20 -64 29 -105 56 -46 203 -146 216 -146 5 0 9 -4 9 -8 0 -8 36 -34 125
            -92 13 -8 83 -55 157 -105 157 -106 165 -111 201 -126 15 -6 27 -14 27 -18 0
            -4 10 -13 23 -20 12 -6 34 -19 48 -29 23 -14 65 -41 157 -97 10 -6 36 -23 60
            -38 24 -15 53 -32 65 -38 12 -5 36 -18 52 -29 17 -11 39 -24 50 -29 20 -9 166
            -93 195 -111 8 -6 26 -15 40 -21 14 -6 32 -15 40 -20 8 -5 22 -12 30 -15 8 -3
            22 -9 30 -14 8 -5 42 -23 75 -40 33 -17 67 -35 75 -40 8 -5 22 -11 30 -14 15
            -6 65 -34 164 -90 32 -17 57 -25 72 -22 24 6 57 66 69 124 4 17 10 32 15 32 5
            0 12 14 15 32 4 17 14 38 21 46 8 7 14 19 14 26 0 12 18 60 50 131 5 11 21 49
            35 85 14 36 30 74 35 85 5 11 18 43 30 70 11 28 27 63 35 78 8 16 15 36 15 46
            0 9 7 26 15 37 8 10 15 25 15 33 0 13 23 68 56 134 8 16 14 34 14 40 0 13 64
            179 85 220 8 16 15 37 15 47 0 10 7 31 15 47 22 43 55 121 55 132 0 5 6 22 14
            38 7 15 20 44 28 63 8 19 25 56 37 81 11 25 21 51 21 57 0 6 6 23 14 39 23 48
            43 95 66 158 12 33 26 67 31 75 5 8 12 22 15 30 8 22 74 180 89 215 7 17 21
            50 31 75 38 96 74 179 100 233 8 16 14 34 14 40 1 7 9 30 20 52 11 22 19 47
            20 56 0 8 7 24 15 35 8 10 15 27 15 36 0 9 7 29 15 45 27 52 62 143 86 220 5
            18 14 35 19 38 6 4 10 15 10 25 0 11 9 39 19 62 11 24 27 63 36 88 9 25 23 59
            30 75 30 73 55 142 55 155 0 8 7 24 15 34 8 11 15 28 15 39 0 10 6 31 14 45 7
            15 23 54 36 87 12 33 28 72 36 87 8 14 14 33 14 42 0 8 6 30 14 48 8 18 25 60
            37 93 21 59 31 83 63 158 9 21 16 42 16 48 0 11 32 89 55 132 8 16 15 34 15
            42 0 11 20 62 56 142 24 54 41 95 64 153 12 30 35 84 52 120 32 66 39 83 78
            180 12 30 29 67 36 82 8 14 14 35 14 46 0 11 7 25 15 32 8 7 15 17 15 23 0 5
            10 31 21 56 12 25 28 60 35 76 7 17 22 53 34 80 35 80 52 118 67 147 7 14 13
            31 13 38 0 6 15 44 34 83 18 40 41 92 51 117 9 25 23 59 30 75 8 17 30 71 50
            120 20 50 43 103 51 118 8 16 14 33 14 38 0 6 8 29 18 52 10 23 26 60 34 82
            33 84 52 131 70 172 10 23 18 46 18 52 0 5 6 22 14 38 20 42 40 91 65 158 13
            33 29 72 37 87 8 14 14 35 14 45 0 11 7 28 15 39 8 10 15 26 15 34 0 8 9 33
            20 55 11 22 19 45 20 52 0 6 7 24 15 40 8 15 31 71 51 123 19 52 42 109 49
            125 8 17 30 73 50 125 20 52 42 109 50 125 7 17 16 39 18 50 14 50 56 157 82
            208 8 16 15 38 15 50 0 12 7 31 15 41 8 11 15 26 15 34 0 8 10 36 21 61 12 25
            29 62 37 81 8 19 21 48 28 63 8 16 14 34 14 40 1 7 9 30 20 52 11 22 19 45 20
            52 0 6 6 24 14 40 8 15 22 48 32 73 10 25 26 64 36 87 10 23 18 48 18 56 0 7
            7 22 15 33 8 10 15 25 15 32 0 7 8 32 18 55 10 23 26 62 36 87 10 25 24 60 32
            78 8 18 14 38 14 44 0 7 9 32 21 57 11 25 27 60 35 76 7 17 29 73 49 125 19
            52 41 109 49 125 37 84 46 107 46 123 0 10 8 33 19 52 10 19 21 49 25 67 7 32
            32 61 43 50 3 -4 -6 -40 -21 -81 -14 -41 -26 -85 -26 -98 0 -13 -7 -33 -15
            -44 -8 -10 -15 -28 -15 -39 0 -11 -7 -29 -15 -39 -8 -11 -15 -27 -15 -35 0
            -17 -35 -111 -56 -153 -8 -14 -14 -40 -14 -56 0 -17 -7 -44 -15 -61 -8 -17
            -22 -45 -30 -62 -8 -17 -15 -37 -15 -45 0 -7 -10 -35 -22 -61 -40 -90 -63
            -153 -77 -208 -4 -16 -15 -44 -24 -62 -10 -18 -17 -40 -17 -50 0 -10 -7 -27
            -15 -37 -8 -11 -15 -26 -15 -34 0 -8 -6 -28 -14 -45 -8 -18 -26 -63 -41 -102
            -15 -38 -31 -74 -36 -79 -5 -6 -9 -19 -9 -31 0 -12 -7 -30 -15 -41 -8 -10 -15
            -26 -15 -34 0 -8 -9 -33 -20 -55 -11 -22 -19 -45 -20 -52 0 -6 -6 -24 -14 -40
            -14 -30 -28 -60 -71 -163 -15 -36 -31 -69 -36 -75 -5 -5 -9 -19 -9 -31 0 -11
            -16 -51 -35 -88 -19 -37 -35 -76 -35 -86 0 -9 -7 -23 -15 -30 -8 -7 -15 -22
            -15 -34 0 -12 -7 -31 -15 -42 -8 -10 -15 -26 -15 -34 0 -8 -9 -33 -20 -55 -11
            -22 -19 -45 -20 -52 0 -6 -7 -25 -15 -42 -8 -17 -22 -45 -30 -62 -8 -17 -15
            -36 -15 -42 0 -7 -9 -29 -20 -50 -11 -20 -20 -45 -20 -55 0 -10 -7 -27 -15
            -38 -8 -10 -15 -28 -15 -39 0 -11 -7 -29 -15 -39 -8 -11 -15 -29 -15 -41 0
            -11 -9 -37 -20 -58 -11 -20 -20 -45 -20 -54 0 -10 -7 -27 -15 -37 -8 -11 -15
            -28 -15 -38 0 -17 -11 -46 -56 -145 -8 -17 -14 -40 -14 -51 0 -11 -7 -25 -15
            -32 -8 -7 -15 -22 -15 -34 0 -12 -7 -31 -15 -42 -8 -10 -15 -27 -15 -37 0 -9
            -9 -34 -20 -54 -11 -21 -20 -45 -20 -53 0 -9 -7 -25 -15 -36 -8 -10 -15 -28
            -15 -40 0 -11 -7 -29 -15 -40 -8 -10 -15 -26 -15 -34 0 -8 -9 -33 -20 -55 -11
            -22 -19 -47 -20 -56 0 -8 -7 -24 -15 -35 -8 -10 -15 -28 -15 -40 0 -11 -7 -29
            -15 -40 -8 -10 -15 -25 -15 -32 0 -8 -7 -28 -15 -45 -16 -36 -42 -108 -55
            -152 -13 -44 -39 -116 -55 -152 -8 -17 -15 -39 -15 -50 0 -10 -7 -27 -15 -37
            -8 -11 -15 -29 -15 -40 0 -12 -7 -30 -15 -40 -8 -11 -15 -27 -15 -35 -1 -9 -9
            -34 -20 -56 -11 -22 -19 -47 -20 -56 0 -8 -7 -24 -15 -35 -8 -10 -15 -28 -15
            -39 0 -11 -7 -29 -15 -39 -8 -11 -15 -27 -15 -35 -1 -9 -9 -34 -20 -56 -11
            -22 -20 -49 -20 -60 0 -11 -7 -29 -15 -39 -8 -11 -15 -28 -15 -37 0 -10 -6
            -30 -14 -46 -31 -62 -56 -121 -56 -131 0 -6 -7 -25 -16 -44 -38 -77 -44 -90
            -44 -108 0 -9 -6 -23 -14 -29 -8 -7 -17 -24 -20 -39 -6 -26 -21 -62 -52 -125
            -8 -16 -14 -35 -14 -43 0 -13 -28 -80 -56 -136 -8 -14 -14 -34 -14 -43 0 -9
            -7 -29 -14 -43 -26 -47 -56 -124 -56 -142 0 -10 -7 -23 -15 -30 -8 -7 -15 -22
            -15 -34 0 -11 -7 -30 -15 -40 -8 -11 -15 -27 -15 -35 -1 -9 -9 -34 -20 -56
            -11 -22 -20 -47 -20 -55 0 -8 -7 -24 -15 -34 -8 -11 -15 -28 -15 -39 0 -10 -6
            -31 -14 -45 -8 -15 -24 -54 -36 -87 -12 -33 -29 -75 -36 -93 -8 -18 -14 -41
            -14 -50 0 -10 -7 -27 -15 -38 -8 -10 -15 -26 -15 -34 0 -8 -9 -33 -20 -55 -11
            -22 -19 -48 -20 -57 0 -9 -4 -19 -9 -23 -5 -3 -13 -20 -17 -38 -6 -30 -14 -51
            -56 -143 -10 -22 -18 -47 -18 -55 0 -8 -7 -23 -15 -33 -8 -11 -15 -29 -15 -41
            0 -12 -7 -30 -15 -41 -8 -10 -15 -26 -15 -34 0 -8 -9 -33 -20 -55 -11 -22 -20
            -47 -20 -55 0 -8 -7 -24 -15 -34 -8 -11 -15 -29 -15 -40 0 -12 -7 -30 -15 -40
            -8 -11 -15 -26 -15 -33 0 -8 -9 -35 -21 -61 -35 -80 -51 -116 -65 -145 -8 -16
            -14 -34 -14 -40 -1 -7 -9 -30 -20 -52 -11 -22 -20 -47 -20 -55 0 -8 -7 -24
            -15 -34 -8 -11 -15 -29 -15 -41 0 -12 -7 -30 -15 -41 -8 -10 -15 -26 -15 -34
            0 -8 -9 -33 -20 -55 -11 -22 -19 -47 -20 -56 0 -8 -7 -24 -15 -35 -8 -10 -15
            -28 -15 -39 0 -11 -7 -29 -15 -39 -8 -11 -15 -27 -15 -35 -1 -9 -9 -34 -20
            -56 -11 -22 -19 -47 -20 -56 0 -8 -7 -24 -15 -35 -8 -10 -15 -27 -15 -37 0
            -11 -6 -31 -14 -45 -19 -38 -56 -135 -56 -149 0 -6 -6 -24 -14 -40 -16 -32
            -34 -75 -66 -153 -12 -30 -28 -68 -36 -83 -8 -16 -14 -36 -14 -45 0 -9 -7 -26
            -15 -36 -8 -11 -15 -28 -15 -38 0 -10 -9 -35 -20 -55 -11 -21 -20 -44 -20 -51
            0 -8 -6 -26 -13 -40 -8 -15 -21 -42 -30 -60 -9 -19 -17 -41 -17 -50 -1 -9 -9
            -35 -20 -57 -11 -22 -19 -45 -20 -52 0 -6 -7 -26 -16 -45 -37 -73 -44 -90 -44
            -101 -1 -7 -9 -30 -20 -52 -11 -22 -19 -45 -20 -52 0 -10 -19 -52 -42 -93 -4
            -8 -11 -22 -14 -30 -3 -8 -12 -28 -20 -43 -26 -52 -19 -72 40 -111 30 -20 58
            -36 63 -36 4 -1 26 -9 48 -20 22 -11 47 -19 56 -20 9 0 22 -7 29 -15 7 -8 20
            -15 29 -15 10 0 26 -7 37 -15 10 -8 25 -15 33 -15 8 0 32 -9 55 -19 23 -11 66
            -29 96 -41 30 -11 64 -25 75 -29 21 -9 64 -24 118 -42 17 -6 45 -17 60 -25 16
            -8 38 -14 49 -14 11 0 32 -6 46 -14 15 -8 61 -24 102 -36 41 -12 90 -28 108
            -36 18 -8 44 -14 58 -14 14 0 40 -6 57 -14 31 -12 67 -23 160 -47 23 -6 56
            -15 72 -21 17 -6 53 -14 81 -18 28 -4 61 -13 72 -19 11 -6 33 -11 49 -11 15 0
            51 -7 78 -15 28 -9 75 -20 105 -25 30 -5 73 -13 95 -19 22 -5 69 -15 105 -22
            159 -29 219 -40 283 -49 37 -5 100 -15 140 -21 39 -6 122 -14 183 -19 61 -4
            120 -12 130 -17 10 -6 60 -13 109 -16 50 -3 114 -13 144 -22 87 -27 96 -20
            115 82 9 49 16 112 16 141 0 29 7 83 15 120 8 37 19 108 24 157 11 95 22 181
            46 330 24 155 36 236 50 360 20 169 34 268 50 360 9 44 15 101 15 126 0 25 9
            88 20 140 11 52 20 110 20 129 0 19 6 73 14 120 26 151 55 349 81 565 7 61 18
            126 24 145 6 19 11 60 11 90 0 30 5 71 11 90 6 19 14 89 19 155 5 66 14 133
            20 149 6 16 15 76 20 135 5 58 14 122 19 141 6 19 11 55 11 80 0 25 7 81 15
            125 8 44 24 152 35 240 12 88 26 180 31 205 6 25 13 74 16 110 3 36 12 90 19
            120 8 30 14 78 14 106 0 29 5 65 11 81 11 27 22 98 48 298 6 50 18 127 26 171
            8 45 15 95 15 110 0 29 28 227 55 385 8 47 15 103 15 124 0 21 7 80 14 129 17
            105 31 206 47 326 5 47 17 115 25 151 8 37 14 88 14 114 0 26 7 77 14 114 15
            65 26 133 46 281 6 41 17 111 25 155 9 44 15 98 15 120 0 22 6 85 14 140 9 55
            20 134 25 175 17 129 32 222 47 298 8 40 14 93 14 118 0 25 6 73 14 107 15 64
            29 152 46 297 6 47 17 124 25 171 8 47 15 108 15 135 0 27 5 67 10 89 15 61
            57 369 64 465 9 121 25 245 42 318 8 35 19 140 24 235 9 153 31 324 59 457 6
            25 10 66 11 92 0 26 5 50 10 53 15 9 12 -111 -5 -245 -8 -63 -18 -121 -20
            -129 -3 -8 -17 -152 -30 -320 -13 -168 -31 -341 -40 -384 -8 -43 -15 -127 -15
            -185 0 -59 -5 -125 -11 -147 -13 -52 -37 -290 -49 -475 -8 -141 -28 -327 -51
            -480 -6 -41 -15 -115 -19 -165 -4 -49 -13 -115 -19 -145 -9 -51 -17 -116 -42
            -360 -5 -52 -14 -124 -20 -160 -6 -36 -14 -114 -19 -175 -9 -115 -24 -251 -41
            -370 -6 -38 -15 -106 -20 -150 -6 -44 -17 -116 -25 -160 -8 -44 -14 -99 -14
            -122 0 -23 -6 -75 -14 -115 -8 -40 -19 -111 -25 -158 -13 -106 -28 -218 -46
            -335 -8 -49 -17 -128 -20 -175 -3 -47 -10 -110 -15 -140 -5 -30 -14 -91 -20
            -135 -5 -44 -14 -107 -19 -140 -5 -33 -17 -125 -25 -205 -9 -80 -23 -181 -31
            -225 -8 -44 -15 -100 -15 -125 0 -25 -7 -71 -15 -103 -8 -31 -19 -100 -24
            -154 -5 -54 -14 -111 -20 -126 -6 -16 -11 -56 -11 -90 -1 -34 -5 -82 -11 -107
            -5 -25 -14 -90 -20 -145 -5 -55 -14 -113 -19 -130 -5 -16 -14 -84 -20 -150 -6
            -66 -15 -136 -20 -155 -6 -19 -10 -56 -10 -82 0 -26 -6 -80 -14 -120 -15 -76
            -27 -159 -51 -363 -8 -66 -19 -136 -25 -155 -5 -19 -10 -63 -10 -97 0 -34 -6
            -95 -14 -135 -16 -78 -29 -170 -46 -308 -6 -47 -17 -130 -26 -185 -8 -55 -14
            -115 -14 -134 0 -18 -6 -63 -14 -100 -8 -36 -20 -113 -26 -171 -17 -157 -38
            -309 -49 -360 -6 -25 -10 -67 -11 -95 0 -27 -7 -77 -15 -110 -8 -33 -15 -85
            -15 -116 0 -30 -7 -78 -15 -106 -8 -28 -20 -113 -25 -189 -5 -77 -14 -157 -19
            -179 -13 -58 -24 -226 -16 -257 10 -38 66 -55 205 -63 63 -3 133 -10 155 -16
            46 -12 692 -29 1060 -29 484 2 1109 17 1145 29 19 7 105 16 190 20 85 5 168
            14 183 20 16 6 84 11 151 11 112 0 126 2 151 22 28 22 28 22 21 112 -3 50 -13
            113 -21 140 -8 27 -15 72 -15 100 0 28 -5 69 -11 91 -5 22 -14 95 -19 162 -5
            67 -14 131 -20 142 -5 11 -13 48 -16 83 -3 35 -11 104 -19 153 -8 50 -21 144
            -31 210 -9 66 -22 156 -29 200 -8 44 -17 118 -20 165 -4 47 -13 107 -21 134
            -8 27 -14 71 -14 97 0 26 -5 60 -11 76 -6 15 -15 78 -20 138 -5 61 -15 137
            -23 170 -17 71 -43 252 -50 348 -3 37 -10 93 -16 125 -27 152 -40 244 -45 322
            -4 47 -13 115 -21 152 -8 37 -14 86 -14 110 0 24 -5 59 -11 78 -6 19 -14 94
            -19 165 -4 72 -15 157 -24 190 -9 32 -16 83 -16 111 0 29 -5 65 -11 81 -6 15
            -14 84 -19 153 -4 69 -13 145 -19 170 -6 25 -15 86 -21 135 -5 50 -17 135 -25
            190 -8 55 -19 143 -25 195 -6 52 -18 129 -26 170 -8 42 -14 96 -14 120 -1 25
            -5 65 -11 90 -5 25 -14 77 -20 115 -5 39 -16 108 -24 155 -8 47 -17 119 -20
            160 -3 41 -10 100 -15 130 -18 101 -49 344 -54 430 -4 47 -11 119 -16 160 -18
            133 -39 293 -49 375 -13 106 -29 216 -42 290 -6 33 -15 117 -18 186 -4 69 -10
            130 -14 136 -3 5 -11 52 -17 104 -6 52 -16 111 -21 132 -6 21 -14 93 -19 160
            -5 67 -14 154 -20 192 -32 204 -40 259 -50 355 -6 58 -16 148 -21 200 -6 52
            -17 130 -25 173 -8 42 -14 112 -14 155 -1 42 -5 97 -11 122 -6 25 -14 105 -19
            178 -5 74 -14 149 -20 168 -7 19 -16 85 -20 147 -20 256 -32 366 -45 435 -8
            40 -15 92 -15 116 0 24 -6 79 -14 122 -16 91 -28 324 -16 324 8 0 22 -69 40
            -195 24 -176 32 -225 46 -290 8 -38 19 -117 24 -175 5 -58 14 -130 19 -160 14
            -75 38 -263 51 -385 19 -193 47 -385 76 -520 8 -38 14 -90 14 -115 0 -48 42
            -312 60 -370 5 -19 10 -69 10 -110 0 -41 5 -93 10 -115 5 -22 14 -79 20 -127
            6 -48 17 -113 25 -145 8 -31 15 -89 15 -128 0 -38 7 -95 15 -125 8 -30 15 -68
            15 -85 0 -16 6 -61 14 -100 8 -38 20 -115 26 -170 12 -114 26 -209 41 -277 6
            -26 14 -93 18 -150 5 -57 13 -116 20 -131 6 -16 11 -45 11 -66 0 -21 7 -60 15
            -87 9 -27 20 -94 25 -149 5 -55 14 -122 19 -150 12 -59 28 -163 41 -260 5 -38
            16 -108 25 -155 8 -47 22 -123 30 -170 8 -47 15 -103 15 -124 0 -22 7 -78 14
            -125 8 -47 20 -115 25 -151 6 -36 15 -85 20 -110 6 -25 10 -79 11 -120 0 -41
            7 -100 15 -130 8 -30 15 -82 15 -116 0 -33 6 -83 14 -110 8 -27 17 -94 21
            -149 4 -55 11 -118 17 -140 6 -22 14 -76 18 -120 5 -44 14 -111 20 -150 23
            -148 32 -213 41 -291 4 -45 13 -94 19 -110 7 -16 15 -81 20 -144 5 -63 13
            -135 19 -160 6 -25 10 -67 11 -93 0 -27 5 -58 11 -69 6 -12 15 -70 19 -128 5
            -59 15 -131 24 -160 9 -30 16 -74 16 -99 0 -25 7 -82 15 -126 8 -44 22 -134
            31 -200 9 -66 25 -169 35 -230 11 -60 19 -130 19 -155 0 -25 7 -72 15 -105 8
            -33 14 -77 15 -97 0 -20 6 -65 14 -100 8 -35 17 -106 21 -159 3 -53 12 -120
            20 -150 8 -30 15 -76 15 -102 0 -27 7 -76 15 -110 8 -34 19 -105 24 -157 14
            -127 27 -215 46 -305 8 -41 15 -92 15 -114 0 -22 5 -62 11 -90 6 -27 13 -95
            17 -152 8 -118 18 -133 74 -110 20 8 97 15 198 18 96 3 186 11 214 19 27 8 77
            14 110 14 34 0 77 5 96 10 19 6 71 15 114 21 44 5 87 14 96 19 10 5 42 14 71
            19 164 29 224 42 233 51 6 6 19 10 31 10 23 -1 177 35 245 56 25 8 56 14 70
            14 14 0 45 6 70 14 25 8 68 19 95 25 28 5 88 19 135 31 47 11 103 23 125 26
            43 6 91 19 195 53 36 12 74 21 85 21 12 0 26 5 32 11 6 6 29 15 50 19 45 9 92
            26 149 51 23 11 48 19 57 19 8 0 28 6 44 14 30 14 64 29 153 66 81 33 122 51
            152 67 14 7 33 13 41 13 8 0 26 9 40 20 14 11 31 20 39 20 7 0 33 17 58 39
            l44 38 -14 44 c-8 24 -36 93 -62 153 -27 59 -48 112 -48 118 0 10 -33 89 -55
            131 -8 16 -15 35 -15 44 0 8 -6 27 -14 41 -28 56 -56 123 -56 136 0 8 -6 27
            -14 43 -8 15 -21 44 -29 63 -8 19 -24 56 -36 81 -12 25 -21 51 -21 57 0 6 -6
            23 -14 39 -7 15 -20 44 -28 63 -8 19 -25 56 -37 81 -11 25 -21 51 -21 57 0 6
            -7 25 -16 44 -36 72 -44 90 -44 99 0 6 -8 29 -18 52 -10 23 -26 62 -36 87 -10
            25 -24 58 -32 73 -8 16 -14 34 -14 40 -1 7 -9 30 -20 52 -11 22 -20 47 -20 55
            0 8 -7 24 -15 34 -8 11 -15 28 -15 37 0 10 -6 30 -14 46 -8 15 -22 48 -32 73
            -10 25 -26 64 -36 87 -10 23 -18 47 -18 53 0 7 -6 24 -14 38 -8 15 -24 54 -37
            87 -12 33 -27 74 -34 90 -7 17 -19 44 -26 60 -6 17 -25 65 -40 109 -16 43 -32
            83 -37 90 -5 6 -12 22 -15 36 -6 27 -32 103 -47 135 -30 66 -50 119 -50 132 0
            8 -6 27 -14 41 -8 15 -31 70 -51 122 -20 52 -42 108 -50 123 -8 16 -15 33 -15
            38 0 12 -34 92 -55 131 -8 14 -15 33 -15 41 0 9 -6 28 -14 44 -7 15 -24 51
            -36 78 -13 28 -29 62 -37 77 -7 14 -13 35 -13 46 0 11 -7 25 -15 32 -8 7 -15
            20 -15 29 0 9 -6 25 -13 36 -7 11 -23 47 -35 80 -13 33 -29 73 -37 88 -8 16
            -15 33 -15 38 0 9 -15 46 -56 136 -8 17 -14 36 -14 43 0 7 -6 24 -14 38 -28
            56 -56 123 -56 136 0 8 -7 27 -15 43 -8 15 -26 60 -41 98 -14 39 -37 99 -50
            135 -14 36 -31 79 -38 95 -7 17 -23 55 -36 85 -13 30 -29 70 -37 87 -21 50
            -39 92 -63 153 -13 30 -29 69 -36 85 -26 60 -84 215 -84 227 0 7 -7 22 -15 32
            -8 11 -15 28 -15 37 0 10 -6 30 -14 46 -23 47 -56 137 -56 155 0 9 -4 19 -10
            23 -5 3 -14 20 -19 38 -15 51 -41 119 -56 154 -8 17 -15 37 -15 45 0 8 -7 23
            -15 34 -8 10 -15 28 -15 39 0 12 -4 25 -9 30 -5 6 -21 46 -36 90 -15 44 -33
            90 -41 102 -8 12 -14 29 -14 37 0 9 -6 30 -14 48 -36 81 -86 215 -86 228 0 8
            -7 24 -15 34 -8 11 -15 27 -15 35 -1 9 -9 34 -20 56 -11 22 -20 47 -20 55 0 8
            -7 24 -15 34 -8 11 -15 29 -15 40 0 12 -7 30 -15 40 -8 11 -15 27 -15 35 0 9
            -7 29 -15 45 -8 15 -15 33 -15 40 0 6 -9 28 -20 49 -11 20 -20 44 -20 53 0 9
            -6 28 -14 42 -8 15 -31 70 -51 122 -21 52 -46 115 -57 140 -31 71 -36 82 -58
            140 -12 30 -27 69 -35 85 -7 17 -29 71 -50 120 -20 50 -43 104 -50 120 -7 17
            -23 57 -35 90 -13 33 -29 74 -35 90 -14 33 -31 77 -65 170 -13 33 -29 78 -37
            100 -8 22 -21 52 -29 67 -8 14 -14 31 -14 38 0 6 -8 30 -18 53 -10 23 -26 62
            -36 87 -10 25 -24 59 -31 75 -8 17 -23 53 -35 80 -11 28 -27 62 -35 77 -8 14
            -15 33 -15 42 0 9 -4 24 -10 34 -18 32 -60 134 -60 147 0 8 -6 26 -14 42 -14
            27 -22 47 -67 168 -12 33 -25 69 -30 80 -15 36 -40 110 -49 143 -4 18 -13 38
            -18 45 -6 7 -13 29 -17 50 -4 20 -11 40 -16 43 -5 3 -9 15 -9 27 -1 12 -9 40
            -20 62 -11 22 -20 47 -20 55 -1 26 -39 139 -56 165 -9 13 -14 30 -12 36 5 16
            60 -73 88 -142 12 -30 25 -61 30 -70 4 -8 20 -47 35 -85 14 -38 33 -81 41 -96
            8 -14 14 -32 14 -38 0 -12 27 -75 56 -132 8 -14 14 -33 14 -41 0 -9 6 -28 14
            -44 31 -62 56 -121 56 -131 0 -6 6 -23 14 -39 8 -15 38 -84 66 -153 29 -69 57
            -138 65 -155 7 -16 22 -55 35 -85 37 -89 52 -123 66 -153 8 -16 14 -33 14 -38
            0 -6 8 -29 18 -52 10 -23 26 -62 36 -87 10 -25 24 -58 31 -75 7 -16 22 -55 35
            -85 12 -30 29 -67 36 -82 8 -14 14 -32 14 -39 0 -7 16 -45 35 -86 19 -41 35
            -80 35 -87 0 -8 7 -19 15 -26 8 -7 15 -19 15 -27 0 -8 6 -27 14 -41 8 -15 31
            -67 51 -117 51 -125 59 -144 84 -196 11 -25 21 -51 21 -57 0 -6 8 -25 17 -44
            28 -56 31 -63 59 -144 15 -44 33 -88 40 -99 8 -11 14 -29 14 -40 0 -12 7 -30
            15 -41 8 -10 15 -26 15 -34 0 -8 7 -28 15 -44 8 -15 15 -33 15 -39 0 -11 28
            -78 55 -130 8 -16 15 -35 15 -43 0 -17 33 -103 56 -146 8 -14 14 -34 14 -43 0
            -9 6 -29 14 -43 20 -39 56 -135 56 -150 0 -7 4 -20 9 -30 29 -55 51 -104 51
            -116 0 -7 16 -48 35 -90 19 -43 35 -85 35 -95 0 -9 4 -21 9 -26 5 -6 21 -39
            36 -75 15 -36 33 -78 41 -95 51 -116 67 -151 89 -198 14 -30 25 -59 25 -65 0
            -6 6 -23 14 -39 37 -77 86 -188 86 -197 0 -6 73 -158 90 -186 5 -8 25 -51 45
            -95 19 -44 42 -93 50 -108 8 -16 15 -36 15 -46 0 -9 7 -26 15 -37 8 -10 15
            -25 15 -32 0 -14 32 -91 55 -134 8 -14 15 -35 15 -45 0 -10 6 -27 13 -38 11
            -18 25 -52 72 -175 26 -69 56 -146 70 -175 7 -16 21 -50 30 -75 20 -54 35 -89
            63 -153 12 -26 22 -54 22 -61 0 -8 6 -27 14 -43 8 -15 22 -48 32 -73 10 -25
            26 -64 36 -87 10 -23 18 -48 18 -55 0 -7 7 -22 15 -32 8 -11 15 -28 15 -39 0
            -10 6 -31 14 -45 27 -54 56 -119 56 -129 0 -6 7 -24 15 -39 8 -16 15 -36 15
            -44 0 -8 7 -24 15 -34 8 -11 15 -26 15 -33 0 -15 30 -88 55 -136 8 -16 15 -39
            15 -52 0 -13 4 -26 8 -29 5 -3 21 -38 36 -78 16 -40 35 -88 43 -105 47 -109
            83 -205 83 -220 0 -6 6 -24 14 -40 8 -15 22 -48 32 -73 10 -25 26 -64 36 -87
            10 -23 18 -48 18 -56 0 -7 7 -22 15 -33 8 -10 15 -28 15 -39 0 -11 7 -29 15
            -39 8 -11 15 -26 15 -34 0 -8 10 -36 21 -61 25 -54 40 -89 65 -151 23 -58 52
            -127 69 -165 13 -28 28 -63 69 -160 10 -22 24 -53 31 -70 7 -16 23 -55 35 -85
            11 -30 25 -64 30 -75 5 -11 21 -49 35 -85 15 -36 31 -69 36 -74 5 -6 9 -17 9
            -25 0 -9 16 -47 35 -84 19 -38 35 -75 35 -84 0 -8 7 -27 15 -41 8 -15 24 -49
            35 -77 12 -27 27 -63 35 -80 7 -16 20 -48 28 -70 8 -22 31 -78 51 -123 20 -46
            36 -90 36 -97 0 -7 7 -26 15 -42 22 -42 49 -111 70 -178 25 -78 31 -85 71 -85
            28 0 134 44 194 81 8 5 22 12 30 15 16 6 155 72 180 85 8 4 40 20 70 34 30 15
            62 31 70 36 8 4 35 18 60 29 25 12 52 26 60 31 8 5 26 14 40 20 14 6 32 15 40
            20 8 5 21 11 28 14 30 12 41 18 107 54 39 22 106 58 150 81 44 23 85 46 91 51
            6 5 33 21 60 35 26 14 65 39 85 55 20 16 40 29 44 29 4 0 17 8 30 18 12 9 31
            23 41 30 92 62 122 82 172 117 31 22 93 67 137 100 44 33 100 74 124 90 25 17
            62 47 83 67 47 46 48 74 7 143 -16 28 -33 59 -39 70 -6 11 -19 34 -30 50 -11
            17 -27 44 -35 60 -9 17 -23 42 -33 56 -15 24 -69 111 -92 149 -5 8 -25 44 -46
            80 -37 65 -66 112 -152 245 -52 82 -104 163 -117 186 -6 9 -28 43 -51 76 -22
            32 -43 65 -47 73 -4 8 -16 29 -27 45 -11 17 -27 45 -35 63 -8 17 -19 32 -24
            32 -5 0 -11 8 -15 18 -3 9 -24 44 -46 77 -22 33 -43 66 -47 74 -4 8 -25 43
            -47 77 -36 55 -57 88 -126 199 -50 82 -115 181 -120 185 -4 3 -10 12 -14 20
            -8 18 -23 41 -61 100 -16 25 -39 63 -51 85 -22 40 -85 141 -101 160 -5 6 -28
            44 -53 85 -24 41 -70 113 -101 160 -31 47 -68 105 -83 130 -15 25 -45 72 -67
            105 -21 33 -67 107 -101 163 -35 57 -70 114 -78 127 -8 12 -31 49 -50 80 -19
            31 -42 67 -50 80 -122 187 -197 303 -204 317 -3 7 -24 40 -46 73 -22 33 -44
            70 -50 83 -5 12 -29 53 -52 90 -64 100 -104 168 -156 262 -14 25 -50 88 -81
            140 -30 52 -63 111 -73 130 -10 19 -22 42 -28 50 -5 8 -50 85 -100 170 -50 85
            -96 164 -103 175 -31 53 -116 188 -159 253 -26 40 -48 74 -48 76 0 3 -22 38
            -50 79 -27 41 -50 79 -50 85 0 5 -7 15 -15 22 -8 7 -43 59 -77 117 -35 57 -70
            115 -78 128 -23 38 -171 269 -212 333 -31 47 -113 182 -189 310 -9 15 -36 65
            -61 112 -25 47 -55 101 -66 120 -11 19 -39 71 -62 115 -23 44 -49 87 -56 96
            -8 8 -14 20 -14 25 0 5 -15 32 -32 60 -53 82 -55 85 -105 169 -26 44 -50 82
            -54 85 -3 3 -19 28 -33 55 -15 28 -36 64 -47 80 -10 17 -23 39 -28 51 -5 12
            -36 66 -68 120 -32 54 -64 110 -71 124 -7 14 -21 39 -30 55 -30 53 -116 206
            -146 259 -16 28 -40 69 -52 91 -12 22 -67 128 -122 235 -103 205 -187 365
            -202 390 -39 62 -180 311 -180 317 0 3 -7 13 -16 22 -8 9 -30 39 -48 66 -52
            81 -126 184 -195 275 -81 105 -118 158 -162 234 -19 32 -42 70 -51 85 -10 14
            -22 35 -27 46 -5 11 -29 40 -55 65 -27 27 -46 54 -46 67 0 12 -5 25 -10 28 -6
            3 -15 26 -21 51 -6 24 -15 44 -19 44 -4 0 -11 12 -15 27 -4 16 -11 33 -17 40
            -10 13 -20 29 -85 153 -77 147 -112 190 -155 190 -15 0 -28 -4 -28 -10z m324
            -595 c-4 -8 -10 -15 -14 -15 -4 0 -33 -24 -64 -54 -51 -49 -56 -58 -56 -97 0
            -23 8 -61 19 -83 10 -23 21 -48 25 -56 3 -8 17 -35 31 -59 14 -24 23 -46 21
            -48 -7 -7 -90 18 -106 32 -8 7 -33 18 -55 25 -52 15 -86 1 -159 -68 -64 -59
            -81 -65 -72 -24 4 15 13 58 21 96 8 37 18 73 23 80 5 6 14 31 21 56 10 38 10
            51 -4 83 -8 20 -20 37 -25 37 -6 0 -10 7 -10 15 0 9 -7 29 -15 44 -20 39 -8
            46 31 16 18 -14 37 -25 43 -25 5 0 16 -6 23 -13 20 -20 97 -57 117 -57 10 0
            24 7 31 15 7 8 18 15 24 15 6 0 36 23 66 50 54 49 96 66 84 35z m-904 -355 c0
            -11 -29 -60 -40 -70 -4 -3 -39 -48 -80 -100 -40 -52 -79 -99 -85 -105 -6 -5
            -20 -22 -29 -37 -10 -16 -22 -28 -27 -28 -5 0 -26 34 -46 77 -39 78 -120 171
            -175 199 -15 8 -28 19 -28 24 0 16 76 12 90 -5 7 -8 16 -15 21 -15 5 0 32 -16
            59 -35 31 -22 61 -35 81 -35 20 0 49 13 80 35 27 19 54 35 59 35 11 0 63 34
            88 58 16 15 32 16 32 2z m-30 -245 c0 -9 10 -29 22 -46 21 -27 23 -42 24 -177
            1 -81 5 -184 9 -229 5 -58 4 -83 -3 -83 -6 0 -14 17 -17 38 -3 20 -12 75 -20
            122 -8 47 -16 128 -19 182 -2 53 -9 104 -14 115 -5 10 -12 35 -16 56 -6 33 -5
            37 14 37 11 0 20 -7 20 -15z"/>
            <path d="M19918 29690 c-42 -44 -82 -80 -89 -80 -7 0 -20 -6 -28 -13 -19 -16
            -139 -57 -167 -57 -38 0 -44 -19 -44 -136 0 -127 3 -142 36 -154 29 -12 143 6
            165 26 8 8 20 14 25 14 5 0 46 39 92 87 l83 88 22 -25 c12 -14 31 -37 42 -50
            70 -88 228 -161 303 -141 38 10 52 45 52 132 0 107 -19 134 -125 174 -128 48
            -170 80 -227 168 -17 26 -38 47 -47 47 -9 -1 -51 -37 -93 -80z"/>
            <path d="M31470 15750 c-14 -4 -43 -8 -65 -9 -54 -1 -272 -53 -340 -81 -284
            -116 -449 -224 -641 -422 -151 -155 -201 -225 -291 -408 -60 -122 -84 -178
            -104 -250 -45 -156 -58 -228 -70 -365 -14 -156 -21 -3547 -9 -3980 12 -424 25
            -526 92 -735 17 -55 101 -235 141 -305 48 -83 161 -238 219 -300 69 -74 227
            -205 247 -205 6 0 11 -4 11 -9 0 -8 46 -40 90 -63 8 -5 29 -17 45 -27 57 -37
            256 -131 278 -131 7 -1 30 -9 52 -20 22 -11 49 -19 60 -20 11 0 40 -6 65 -14
            166 -52 308 -71 530 -70 219 1 360 20 521 70 26 8 57 14 70 14 13 1 42 9 64
            20 22 11 48 19 57 20 9 0 29 6 45 14 15 8 81 40 146 72 64 32 117 61 117 66 0
            4 5 8 11 8 7 0 34 16 60 35 27 19 54 35 59 35 6 0 10 4 10 10 0 5 13 16 29 24
            16 9 78 65 139 125 266 266 445 626 473 951 4 58 13 157 19 220 13 149 13
            3916 0 4090 -16 214 -29 334 -39 360 -5 14 -19 59 -31 100 -31 105 -86 231
            -142 327 -26 45 -48 86 -48 92 0 6 -4 11 -9 11 -5 0 -20 17 -32 38 -84 137
            -258 306 -429 416 -41 27 -86 56 -100 65 -25 16 -102 55 -130 65 -8 3 -22 10
            -30 15 -31 18 -107 48 -165 66 -33 10 -71 22 -85 28 -32 12 -145 33 -280 52
            -113 16 -565 20 -610 5z m455 -1110 c17 -5 54 -12 82 -15 29 -4 56 -11 59 -16
            3 -5 20 -15 37 -23 58 -24 148 -126 201 -227 53 -101 55 -112 74 -378 11 -153
            -4 -3975 -16 -4061 -9 -66 -26 -122 -53 -170 -4 -8 -18 -33 -29 -55 -37 -68
            -165 -185 -203 -185 -7 0 -22 -6 -33 -14 -12 -9 -82 -22 -166 -32 -137 -16
            -152 -16 -247 0 -136 23 -215 61 -304 149 -105 102 -157 229 -178 432 -6 54
            -8 882 -7 2080 3 1918 4 1993 22 2060 28 105 68 192 120 260 30 41 136 137
            159 144 6 2 19 9 27 15 14 12 162 42 240 50 48 5 179 -4 215 -14z"/>
            <path d="M5710 15682 c-25 -2 -50 -9 -56 -17 -11 -14 0 -106 25 -225 6 -25 10
            -67 11 -95 0 -27 7 -72 15 -99 8 -27 15 -70 15 -95 0 -25 9 -79 20 -120 11
            -41 20 -104 20 -140 0 -36 7 -88 15 -115 8 -27 15 -68 15 -90 0 -23 5 -57 11
            -76 6 -19 17 -84 24 -145 8 -60 21 -153 30 -205 9 -52 20 -129 26 -170 6 -41
            17 -106 25 -145 8 -38 14 -90 15 -115 0 -25 7 -63 15 -85 8 -22 19 -87 23
            -145 5 -58 14 -121 20 -140 6 -19 11 -58 11 -87 0 -29 7 -72 15 -95 8 -24 19
            -89 24 -145 5 -56 12 -106 14 -110 3 -5 10 -47 17 -93 6 -47 15 -110 21 -140
            5 -30 16 -89 24 -130 8 -41 19 -109 25 -150 6 -41 15 -97 20 -125 5 -27 9 -75
            9 -105 1 -30 8 -77 16 -104 8 -27 15 -73 15 -102 0 -29 5 -65 11 -81 6 -15 17
            -77 24 -138 7 -60 18 -128 24 -150 6 -22 11 -55 11 -74 0 -18 6 -63 14 -100 8
            -36 22 -120 32 -186 9 -66 21 -142 26 -170 5 -27 13 -90 19 -140 6 -49 17
            -118 25 -152 8 -34 14 -85 14 -113 0 -28 6 -63 14 -78 7 -15 16 -74 19 -132 4
            -58 13 -127 22 -154 8 -27 15 -73 15 -102 0 -29 5 -65 11 -81 6 -15 17 -77 25
            -138 16 -126 36 -260 59 -390 8 -49 20 -126 26 -170 6 -44 17 -106 25 -137 8
            -32 14 -86 14 -120 0 -35 9 -99 20 -143 11 -44 20 -101 20 -126 0 -26 6 -64
            14 -85 7 -22 16 -79 20 -129 4 -49 11 -108 16 -130 5 -22 12 -75 15 -118 11
            -129 -50 -117 613 -117 439 0 572 3 585 13 20 14 45 121 52 227 3 41 12 113
            20 160 8 47 21 132 29 190 42 301 59 412 72 483 8 42 14 99 14 125 0 26 6 83
            15 127 22 125 34 202 45 310 6 55 15 123 21 150 5 28 14 90 19 139 5 50 14
            104 19 120 5 17 12 67 15 111 3 44 12 112 20 150 8 39 22 133 31 210 10 77 23
            170 31 207 8 37 14 83 14 103 0 20 7 68 15 108 8 40 19 122 24 182 6 61 15
            139 21 175 18 113 39 252 50 340 6 47 15 108 20 135 5 28 9 73 9 100 1 28 7
            86 15 130 30 165 46 294 53 423 5 114 8 132 22 130 13 -3 17 -25 21 -128 3
            -69 11 -145 17 -170 7 -25 17 -92 23 -150 17 -177 30 -272 45 -337 8 -34 15
            -96 15 -138 0 -42 6 -104 14 -138 8 -34 19 -98 24 -142 5 -44 15 -98 21 -120
            6 -22 11 -67 11 -100 0 -33 7 -100 15 -150 26 -151 59 -362 80 -515 7 -52 18
            -113 24 -135 6 -22 11 -74 11 -115 0 -41 7 -97 15 -124 8 -27 15 -77 15 -111
            0 -35 9 -90 20 -125 12 -38 20 -90 20 -133 0 -39 6 -96 14 -126 8 -31 19 -94
            25 -141 5 -47 24 -170 41 -275 17 -104 35 -233 41 -285 5 -52 14 -117 20 -145
            5 -27 14 -94 19 -148 6 -54 15 -108 21 -120 7 -11 15 -75 19 -141 4 -67 13
            -137 19 -156 6 -19 11 -59 11 -87 0 -40 5 -58 20 -73 20 -20 33 -20 569 -20
            634 0 584 -8 601 100 20 136 31 207 45 280 8 41 19 116 24 165 15 123 30 218
            47 292 8 34 14 80 14 102 0 22 6 73 14 113 19 93 44 248 51 313 5 46 13 92 45
            285 6 36 15 108 19 160 5 52 16 122 25 155 9 32 16 75 16 95 0 19 7 57 15 84
            8 27 15 71 15 97 0 27 6 81 14 121 8 40 24 141 36 223 22 162 44 297 66 414 8
            40 14 92 14 115 0 23 6 66 14 96 8 30 17 84 21 120 4 36 13 90 21 121 8 31 14
            80 14 108 0 28 7 83 15 123 7 40 23 127 34 193 19 114 30 186 67 445 8 63 20
            138 25 165 5 28 14 84 20 125 6 41 17 100 25 131 8 30 14 84 14 119 0 35 6 89
            14 119 16 62 31 152 46 281 6 47 17 114 25 150 9 36 15 79 15 95 0 17 6 66 14
            110 17 92 31 179 51 315 7 52 18 119 24 149 6 29 11 74 11 98 0 25 7 72 15
            106 17 75 30 156 49 302 8 61 19 135 25 165 5 30 17 105 26 165 10 61 23 148
            31 194 18 110 18 137 -3 145 -9 4 -253 6 -542 6 -403 0 -528 -3 -537 -13 -23
            -24 -44 -113 -50 -212 -3 -55 -12 -119 -20 -143 -8 -23 -14 -75 -14 -115 0
            -40 -6 -97 -14 -127 -7 -30 -16 -86 -19 -125 -3 -38 -13 -97 -21 -130 -9 -32
            -16 -84 -16 -115 0 -30 -6 -91 -15 -135 -8 -44 -21 -134 -30 -200 -9 -66 -23
            -158 -30 -205 -8 -47 -17 -116 -21 -155 -3 -38 -12 -95 -20 -126 -8 -31 -14
            -86 -14 -121 0 -36 -7 -87 -15 -114 -8 -27 -15 -70 -15 -96 0 -25 -9 -92 -20
            -148 -11 -56 -20 -127 -20 -158 -1 -31 -7 -86 -15 -122 -8 -36 -14 -82 -15
            -102 0 -21 -6 -73 -14 -115 -28 -151 -37 -210 -51 -353 -7 -80 -18 -161 -24
            -180 -6 -19 -11 -62 -11 -95 0 -33 -7 -91 -15 -130 -8 -38 -15 -95 -15 -125 0
            -31 -7 -82 -15 -114 -9 -32 -20 -109 -25 -170 -5 -61 -14 -127 -19 -146 -11
            -43 -25 -400 -22 -567 2 -83 -1 -123 -8 -123 -14 0 -19 23 -30 145 -6 55 -15
            134 -20 175 -6 41 -15 113 -21 160 -6 47 -17 135 -25 195 -8 61 -20 157 -25
            215 -6 58 -18 141 -26 185 -8 44 -14 98 -14 120 0 22 -7 65 -15 95 -8 30 -15
            87 -15 125 -1 39 -5 90 -11 115 -5 25 -14 79 -20 120 -6 41 -17 108 -25 148
            -8 40 -14 102 -14 137 0 35 -6 97 -14 137 -22 111 -54 312 -67 418 -7 52 -15
            118 -20 145 -4 28 -13 91 -19 140 -14 107 -45 302 -65 403 -8 40 -15 105 -15
            145 0 40 -6 104 -14 142 -36 171 -48 244 -52 315 -3 41 -11 113 -19 160 -23
            136 -43 269 -56 360 -21 159 -38 265 -48 305 -6 22 -11 65 -11 96 0 34 -5 61
            -13 68 -9 7 -170 11 -527 11 -421 1 -515 -1 -527 -12 -8 -9 -16 -48 -20 -99
            -3 -46 -12 -101 -20 -123 -7 -21 -13 -58 -13 -83 0 -24 -6 -72 -14 -106 -8
            -34 -19 -102 -25 -152 -15 -135 -49 -367 -77 -520 -8 -44 -14 -107 -14 -141 0
            -33 -6 -82 -14 -108 -8 -27 -18 -89 -21 -140 -4 -50 -13 -113 -21 -140 -8 -27
            -14 -79 -14 -116 0 -36 -6 -90 -14 -120 -7 -30 -16 -100 -19 -155 -3 -56 -10
            -113 -16 -127 -6 -15 -15 -72 -20 -126 -6 -55 -15 -112 -21 -126 -5 -15 -10
            -43 -10 -62 0 -40 -23 -217 -45 -344 -8 -47 -17 -114 -21 -150 -3 -36 -12 -95
            -20 -132 -8 -37 -14 -91 -14 -121 0 -29 -6 -76 -14 -103 -8 -27 -16 -94 -19
            -149 -3 -55 -10 -113 -16 -128 -6 -16 -15 -75 -20 -132 -5 -57 -12 -109 -16
            -115 -4 -6 -11 -60 -16 -118 -4 -59 -13 -136 -18 -172 -6 -36 -15 -146 -21
            -245 -20 -332 -22 -365 -31 -365 -5 0 -9 35 -9 78 0 42 -5 106 -10 142 -14 90
            -39 274 -55 405 -8 61 -18 137 -24 170 -6 33 -11 96 -11 140 0 45 -7 107 -15
            138 -8 32 -15 70 -15 85 0 15 -7 59 -16 97 -8 39 -19 129 -24 200 -5 72 -14
            157 -20 190 -23 129 -40 244 -49 340 -11 109 -34 269 -50 354 -6 29 -11 77
            -11 105 0 28 -7 78 -15 111 -8 33 -14 79 -15 103 0 24 -7 73 -15 110 -8 37
            -19 114 -25 172 -10 105 -21 186 -41 290 -6 30 -17 114 -24 185 -8 72 -21 166
            -29 210 -9 44 -21 116 -26 160 -33 247 -43 317 -55 380 -8 39 -17 113 -21 165
            -3 52 -12 123 -20 158 -8 35 -14 82 -14 105 0 58 -17 115 -39 126 -16 9 -952
            20 -1061 13z"/>
            <path d="M12340 15682 c-35 -2 -71 -8 -78 -15 -12 -10 -13 -535 -7 -3612 7
            -3599 7 -3600 27 -3617 19 -17 107 -18 1533 -18 1363 0 1515 2 1529 16 14 14
            16 79 16 569 0 432 -3 556 -12 562 -7 4 -433 10 -946 13 l-932 5 0 985 0 985
            744 3 c697 2 746 3 754 20 15 28 16 1070 1 1088 -10 12 -122 14 -758 14 l-746
            0 2 937 3 938 932 5 933 5 3 553 c2 437 0 554 -10 557 -14 5 -2883 12 -2988 7z"/>
            <path d="M17402 15682 l-72 -3 -20 -39 c-11 -22 -20 -57 -20 -78 0 -22 -5 -64
            -11 -93 -20 -98 -40 -203 -54 -289 -15 -85 -28 -151 -46 -225 -5 -22 -14 -73
            -20 -114 -5 -41 -14 -81 -19 -91 -5 -9 -12 -45 -15 -80 -4 -36 -13 -87 -21
            -114 -8 -27 -14 -72 -14 -99 0 -27 -6 -76 -14 -110 -35 -150 -56 -254 -56
            -277 0 -14 -7 -59 -15 -100 -37 -175 -49 -240 -76 -415 -5 -38 -17 -93 -25
            -121 -8 -28 -14 -70 -14 -94 0 -24 -6 -69 -14 -99 -14 -54 -24 -111 -47 -271
            -6 -41 -17 -101 -25 -132 -8 -32 -14 -72 -14 -90 0 -18 -5 -49 -11 -68 -5 -19
            -17 -75 -26 -125 -8 -49 -21 -124 -28 -165 -8 -41 -19 -106 -25 -145 -6 -38
            -15 -92 -21 -120 -5 -27 -14 -83 -20 -124 -5 -41 -14 -82 -20 -93 -5 -10 -12
            -48 -15 -86 -3 -37 -11 -92 -19 -122 -15 -61 -33 -149 -41 -195 -21 -135 -47
            -275 -55 -301 -5 -17 -13 -65 -19 -108 -5 -42 -14 -85 -20 -96 -5 -10 -10 -39
            -10 -63 0 -24 -7 -66 -15 -93 -8 -27 -18 -80 -21 -119 -4 -38 -13 -87 -21
            -109 -7 -21 -13 -52 -13 -68 0 -16 -6 -57 -14 -91 -8 -34 -19 -93 -25 -132 -6
            -38 -15 -95 -21 -125 -15 -83 -38 -219 -55 -322 -9 -51 -22 -122 -30 -158 -8
            -36 -19 -101 -24 -145 -5 -44 -14 -93 -20 -108 -6 -16 -11 -49 -11 -73 0 -25
            -5 -55 -12 -67 -6 -12 -15 -60 -19 -106 -4 -46 -14 -111 -22 -145 -23 -94 -46
            -204 -57 -276 -19 -121 -30 -179 -40 -205 -16 -42 -12 -141 6 -159 14 -14 78
            -16 562 -16 418 0 553 3 572 13 17 9 27 24 31 52 4 22 12 53 18 68 6 16 11 53
            11 84 0 31 9 95 19 142 30 131 42 199 51 286 5 44 13 103 19 130 11 49 37 196
            67 370 8 50 20 110 26 135 6 25 14 79 18 120 4 41 15 109 25 150 l17 75 612
            -2 c336 -2 614 -3 619 -3 4 0 7 -15 7 -33 0 -18 9 -67 20 -108 11 -41 20 -96
            20 -123 0 -26 7 -78 14 -115 18 -81 39 -194 67 -366 11 -71 27 -152 35 -179 8
            -26 14 -76 14 -111 0 -34 7 -82 15 -105 8 -23 15 -67 15 -97 0 -29 9 -79 20
            -110 11 -33 20 -83 20 -116 0 -73 17 -135 42 -148 11 -6 225 -9 568 -7 477 3
            552 5 560 18 14 22 12 87 -5 150 -8 30 -15 70 -15 89 0 18 -6 63 -14 100 -27
            121 -47 233 -56 300 -5 36 -14 89 -20 116 -25 115 -40 193 -45 249 -3 32 -12
            86 -19 120 -38 166 -46 207 -46 240 0 21 -6 67 -14 104 -8 37 -24 121 -36 187
            -26 142 -44 238 -60 320 -6 33 -16 96 -21 140 -5 44 -13 91 -19 105 -5 14 -14
            59 -19 100 -6 41 -15 91 -21 110 -5 19 -10 54 -10 78 0 24 -6 71 -14 105 -22
            93 -49 235 -56 297 -6 52 -14 96 -45 255 -8 39 -19 99 -24 135 -13 79 -27 153
            -46 241 -8 37 -15 85 -15 107 0 22 -6 62 -14 88 -14 49 -26 110 -47 234 -20
            124 -41 245 -54 315 -8 39 -19 99 -25 135 -26 143 -40 217 -50 255 -5 22 -10
            59 -10 83 0 23 -6 68 -14 100 -25 97 -56 265 -56 297 0 17 -6 59 -14 95 -33
            145 -46 217 -46 250 0 20 -6 61 -14 91 -8 31 -18 80 -21 110 -4 30 -13 76 -21
            103 -8 27 -14 73 -14 101 0 29 -7 74 -15 101 -8 27 -15 61 -15 76 0 15 -7 49
            -16 75 -9 26 -20 84 -24 128 -7 78 -16 131 -45 265 -8 36 -17 90 -20 120 -4
            30 -15 98 -26 150 -20 99 -26 130 -55 295 -9 55 -22 105 -28 112 -8 9 -186 12
            -701 15 -379 2 -723 2 -763 0z m712 -1509 c3 -21 6 -70 6 -108 0 -39 7 -97 15
            -128 8 -32 18 -90 21 -130 3 -40 12 -102 20 -139 8 -37 14 -85 14 -107 0 -22
            5 -52 11 -68 7 -15 15 -75 20 -133 4 -58 14 -132 23 -165 9 -32 16 -84 16
            -115 0 -30 7 -73 15 -95 8 -22 15 -67 15 -100 0 -33 5 -80 11 -105 5 -25 16
            -85 24 -135 8 -49 21 -133 30 -185 9 -52 22 -135 30 -185 8 -49 19 -106 24
            -125 6 -19 11 -62 11 -96 0 -33 6 -82 14 -108 8 -26 18 -78 21 -114 4 -37 13
            -86 21 -110 8 -23 14 -73 14 -111 0 -38 6 -86 14 -107 7 -22 16 -70 20 -109 4
            -38 18 -115 32 -169 13 -54 24 -104 24 -110 0 -8 -132 -10 -467 -8 -257 1
            -469 5 -471 7 -3 2 3 26 11 52 9 27 19 80 23 118 3 39 13 95 20 125 8 30 14
            81 14 114 0 33 6 85 14 115 18 69 32 153 51 297 7 61 18 131 24 155 5 24 17
            103 26 174 19 149 51 349 66 415 6 25 13 79 15 120 3 41 11 109 19 150 15 79
            30 176 46 300 5 41 14 104 20 140 5 36 14 116 19 178 5 62 12 117 16 123 3 5
            12 51 19 102 8 51 19 121 24 157 6 36 13 109 17 163 6 101 17 124 28 60z"/>
            <path d="M21045 15682 c-27 -2 -54 -7 -58 -11 -5 -5 -8 -1632 -8 -3617 1
            -3371 2 -3610 18 -3622 22 -16 1113 -18 1144 -2 19 11 19 37 19 1450 l0 1440
            219 -4 c120 -2 223 -6 228 -9 6 -4 14 -19 17 -34 3 -16 19 -71 35 -123 17 -52
            46 -149 66 -215 20 -66 48 -154 62 -195 14 -41 28 -93 32 -115 9 -44 36 -136
            53 -175 6 -14 14 -43 19 -65 4 -22 21 -80 37 -130 17 -49 38 -117 47 -150 9
            -33 23 -75 31 -93 8 -18 14 -40 14 -49 0 -10 15 -62 34 -118 18 -55 38 -118
            44 -140 22 -87 66 -233 89 -300 14 -38 28 -88 32 -110 10 -49 38 -140 56 -180
            7 -16 16 -46 18 -65 3 -19 19 -75 36 -123 17 -48 31 -98 31 -110 0 -13 4 -27
            9 -33 6 -5 14 -27 20 -49 5 -22 14 -53 19 -70 6 -16 20 -66 32 -110 31 -112
            36 -124 62 -130 13 -3 285 -4 606 -3 505 3 584 5 593 18 11 17 7 71 -9 115 -7
            17 -21 64 -32 105 -37 133 -52 184 -62 215 -5 17 -14 47 -19 67 -5 20 -21 72
            -35 115 -14 43 -30 94 -34 113 -5 19 -21 73 -38 120 -16 47 -37 112 -47 145
            -10 33 -22 71 -28 85 -5 14 -15 48 -22 75 -14 55 -33 111 -47 138 -5 10 -13
            37 -17 60 -5 23 -14 56 -20 72 -5 17 -20 64 -32 105 -12 41 -27 90 -35 108 -8
            18 -14 42 -14 53 0 11 -6 32 -14 47 -7 15 -16 44 -20 66 -4 21 -11 46 -16 55
            -13 25 -50 146 -50 163 0 9 -7 29 -14 45 -16 31 -43 109 -56 163 -8 34 -19 67
            -46 140 -7 19 -16 50 -19 68 -4 18 -13 45 -21 60 -8 15 -14 33 -14 41 0 13
            -18 73 -45 151 -7 19 -22 69 -35 110 -12 41 -29 90 -36 108 -8 18 -14 39 -14
            47 0 7 -6 26 -14 42 -8 15 -22 54 -32 85 -17 56 -16 59 1 78 10 11 24 20 30
            20 7 0 24 9 38 20 14 11 30 20 35 20 11 0 94 55 156 102 44 35 174 165 219
            219 74 91 182 298 206 397 5 20 22 82 37 137 l28 100 -1 895 0 895 -26 95
            c-15 52 -31 115 -38 140 -6 25 -18 57 -25 72 -8 14 -14 31 -14 37 0 6 -16 44
            -35 85 -19 41 -35 80 -35 85 0 6 -6 14 -12 18 -7 4 -22 24 -32 43 -56 103
            -199 259 -321 351 -107 80 -248 161 -350 199 -86 32 -138 50 -185 63 -114 32
            -133 36 -380 77 -60 10 -1875 21 -2015 12z m1726 -1077 c39 -8 89 -15 112 -15
            46 0 122 -21 179 -51 20 -10 44 -19 53 -19 21 0 161 -140 170 -171 4 -13 14
            -31 21 -40 14 -16 26 -64 44 -174 12 -77 12 -1129 0 -1215 -16 -108 -29 -162
            -52 -209 -23 -47 -149 -187 -183 -203 -11 -5 -45 -22 -75 -38 -30 -16 -64 -29
            -75 -30 -11 0 -31 -7 -45 -15 -14 -8 -42 -14 -62 -15 -20 0 -68 -6 -105 -14
            -48 -11 -147 -15 -331 -17 l-263 -1 3 908 c2 500 1 1008 -1 1128 l-3 219 271
            -7 c176 -4 296 -11 342 -21z"/>
            <path d="M25715 15682 c-27 -2 -53 -9 -57 -15 -4 -7 -8 -249 -8 -539 0 -515 1
            -529 20 -548 20 -20 33 -20 969 -20 602 0 959 4 976 10 33 13 41 -5 20 -46 -8
            -16 -15 -35 -15 -42 0 -8 -6 -26 -13 -40 -8 -15 -21 -42 -30 -60 -9 -19 -17
            -38 -17 -44 0 -5 -7 -26 -16 -46 -28 -62 -50 -115 -69 -162 -20 -53 -53 -133
            -70 -175 -7 -16 -21 -50 -31 -75 -10 -25 -26 -64 -36 -87 -10 -23 -18 -46 -18
            -52 0 -5 -7 -22 -15 -38 -8 -15 -24 -55 -37 -88 -12 -33 -28 -69 -35 -80 -7
            -11 -13 -28 -13 -37 0 -10 -4 -26 -9 -36 -18 -33 -51 -108 -51 -116 0 -9 -36
            -93 -55 -128 -8 -14 -15 -35 -15 -46 0 -11 -7 -25 -15 -32 -8 -7 -15 -21 -15
            -32 0 -11 -6 -32 -14 -46 -16 -30 -45 -95 -71 -162 -20 -53 -53 -133 -70 -175
            -7 -16 -21 -50 -31 -75 -10 -25 -26 -64 -36 -87 -10 -23 -18 -47 -18 -53 0 -7
            -6 -24 -14 -38 -8 -15 -22 -47 -31 -72 -9 -25 -25 -64 -36 -88 -10 -23 -19
            -49 -19 -56 0 -7 -7 -19 -15 -26 -8 -7 -15 -21 -15 -32 0 -11 -6 -32 -14 -46
            -28 -54 -56 -119 -56 -130 0 -6 -7 -24 -15 -41 -8 -17 -22 -45 -30 -62 -8 -17
            -15 -35 -15 -40 0 -11 -33 -89 -55 -132 -8 -16 -15 -37 -15 -47 0 -9 -7 -23
            -15 -30 -8 -7 -15 -19 -15 -26 0 -8 -9 -31 -20 -51 -11 -21 -20 -43 -20 -50 0
            -6 -8 -26 -17 -45 -9 -18 -22 -45 -30 -60 -7 -14 -13 -32 -13 -40 -1 -7 -9
            -31 -20 -53 -11 -22 -20 -47 -20 -55 0 -8 -7 -24 -15 -34 -8 -11 -15 -28 -15
            -39 0 -10 -7 -31 -15 -45 -24 -44 -55 -120 -55 -135 0 -7 -7 -22 -15 -33 -8
            -10 -15 -26 -15 -35 0 -9 -7 -22 -15 -29 -8 -7 -15 -22 -15 -34 0 -12 -9 -38
            -20 -59 -11 -20 -20 -43 -20 -51 0 -7 -7 -19 -15 -26 -8 -7 -15 -20 -15 -30 0
            -16 -16 -59 -56 -147 -8 -17 -14 -37 -14 -45 0 -8 -4 -18 -9 -23 -5 -6 -21
            -39 -36 -75 -45 -110 -55 -134 -70 -163 -8 -16 -15 -35 -15 -44 0 -8 -6 -27
            -14 -41 -18 -35 -51 -118 -103 -257 -20 -53 -51 -124 -69 -157 -8 -14 -14 -37
            -14 -51 0 -13 -7 -30 -15 -37 -8 -7 -15 -18 -15 -24 -1 -6 -9 -29 -20 -51 -11
            -22 -19 -46 -20 -53 0 -8 -7 -26 -15 -40 -39 -72 -41 -119 -36 -608 5 -378 9
            -474 20 -487 12 -16 147 -17 1737 -17 1553 0 1724 2 1738 16 14 14 16 78 16
            553 0 433 -3 541 -13 549 -9 8 -330 12 -1095 12 -826 1 -1082 4 -1081 13 0 7
            9 26 20 42 10 17 22 37 25 45 4 8 15 34 25 57 11 23 19 44 19 47 0 3 13 34 28
            68 16 35 42 96 57 136 16 40 32 75 37 78 4 3 8 12 8 21 0 9 16 49 35 90 19 41
            35 79 35 86 0 7 7 22 15 33 8 10 15 28 15 39 0 12 4 25 9 30 5 6 28 57 51 115
            23 58 58 138 76 178 19 40 34 77 34 82 0 4 6 21 14 37 8 15 24 53 36 83 12 30
            25 64 30 75 5 11 21 49 35 85 15 36 31 69 36 75 5 5 9 15 9 23 0 8 9 36 21 61
            24 53 39 88 65 151 9 25 26 64 36 87 10 23 18 46 18 52 0 5 6 22 14 38 8 15
            24 53 36 83 12 30 27 69 35 85 29 66 44 102 65 155 12 30 27 69 35 85 57 124
            133 306 146 352 5 18 14 35 19 38 6 4 10 12 10 20 0 8 16 47 35 88 19 41 35
            80 35 88 0 8 7 23 15 33 8 11 15 26 15 34 0 8 10 36 21 61 25 54 40 89 65 151
            10 25 26 64 36 87 10 23 18 44 18 47 0 6 38 91 81 182 10 23 19 46 19 52 0 6
            7 24 15 41 8 17 22 45 30 62 8 17 15 35 15 41 0 6 9 32 21 57 12 25 28 62 36
            81 8 19 21 49 28 65 7 17 28 68 48 115 19 47 51 126 72 175 20 50 44 108 52
            130 8 22 21 54 28 70 21 47 40 91 96 225 91 218 140 333 180 417 21 45 43 101
            50 125 15 53 17 934 2 949 -8 8 -3210 19 -3338 11z"/>
            </g>
            </svg>            
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
          rel="nofollow"
        >
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                {% comment %} <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span> {% endcomment %}
                <span class="svg-custom-wrapper">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.5 5.5C15.5 7.433 13.933 9 12 9C10.067 9 8.5 7.433 8.5 5.5C8.5 3.567 10.067 2 12 2C13.933 2 15.5 3.567 15.5 5.5Z" stroke="#000000" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.675 16C4.675 13.6114 6.61137 11.675 9 11.675C9.29014 11.675 9.62683 11.8426 10.1722 12.1456C10.1922 12.1567 10.2126 12.1681 10.2334 12.1797C10.6852 12.4315 11.3213 12.7861 12 12.7861C12.6787 12.7861 13.3148 12.4315 13.7666 12.1797C13.7874 12.1681 13.8078 12.1567 13.8278 12.1456C14.3732 11.8426 14.7099 11.675 15 11.675C17.3886 11.675 19.325 13.6114 19.325 16V19C19.325 19.7318 18.7318 20.325 18 20.325H6C5.26822 20.325 4.675 19.7318 4.675 19V16Z" stroke="#000000" stroke-width="1.35"/>
                  </svg>
                </span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {% if cart == empty %}
          {% comment %} <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span> {% endcomment %}
          <span class="svg-custom-wrapper">{{ 'wz-icon-cart.svg' | inline_asset_content }}</span>
        {% else %}
          {% comment %} <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span> {% endcomment %}
          <span class="svg-custom-wrapper">{{ 'wz-icon-cart.svg' | inline_asset_content }}</span>
        {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{{ header_tag }}>

{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky =
        this.getAttribute('data-sticky-type') === 'always' ||
        this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      }

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => (this.preventReveal = true);

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach((disclosure) => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__utilities.content"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label",
      "info": "t:sections.header.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info": "t:sections.header.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
